.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 22px); /* Adjusted width to account for padding and border */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Make the button full width */
    display: inline-block; /* Ensure button is displayed as inline-block */
    margin-top: 10px; /* Add some top margin for separation */
}

button:hover {
    background-color: #0056b3;
}
