/*.analytics-section {
    padding: 20px;
}

.card-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .card {
        width: calc(100% - 20px);
    }
}
*/

.smart-home-analytics {
    padding: 20px;
}

.analytics-section {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust the minmax values as needed */
    gap: 20px; /* Adjust the gap between grid items */
}

@media screen and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* Two columns per row for medium-sized screens */
    }
}

@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Single column for small screens */
    }
}


.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
